@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

.main {
  position: relative;
}

.box {
  height: 500px;
  width: 400px;
  position: absolute;
  top: 0;
  left: 220;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: center;
  width: 50px;
  height: 50px;
  background-color: #c7bbc9;
  border-radius: 30px;
  margin: 0 auto;
  margin-bottom: 30px;
  transition: 0.7s ease-in-out;
  box-shadow: 1px 1px 1px 1px #71637D;
}

.rotation {
  transform: rotate(90deg);
}

.links {
  font-size: 8px;
}

.about-box {
  background-image: url(me.jpg);
  background-size: cover;
  background-color: #ddd;
  background-blend-mode: overlay;
  width: 100%;
  height: 400px;
  margin-top: 30px;
  position: absolute;
}

.intro {
  margin: 0 auto;
  margin-top: 90px;
  height: 100vh;
}

.work-sec {
  margin-top: 50px;
  /*height: 100vh;*/
}

.see-more {
  text-align: center;
  color: #457371;
  position: absolute;
  transform: rotate(90deg);
  font-family: 'Open Sans 700', sans-serif;
  letter-spacing: 2px;
  font-variant-caps: all-small-caps;
  font-weight: 700;
  opacity: 0.5;
}

.side-text {
  padding: 10px;
  margin-left: -100px;
  margin-top: 30px;
}

.intro-text {
  z-index: 10;
  /*position: absolute;*/
  margin-top: 100px;
  margin-left: 100px;
  left: 0;
}

.text-two {
  /*padding-left: 100px;*/
}

.text {
  padding-top: 100px;
}

#design {
  margin-top: 60px;
}

p {
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  width: 100%;
  /*color: white;*/
}

h1 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  width: 100%;
  color: white;
  font-size: 30px;
}

.equal {
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  width: 100%;
  color: white;
  font-size: 28px;
  padding-top: 8px;
}

.about {
  /*height: 100vh;*/
  padding-top: 50px;
  padding-bottom: 50px;
  background-size: cover;
  background-blend-mode: overlay;
  overflow: hidden;
}

.pic {
  visibility: hidden;
}

.active {
  animation: fadeIn 0.25s 0.5s forwards;
  visibility: visible;
}

.box-pic {
  height: 500px;
  width: 400px;
  top: 0;
  left: 220;
  background-color: #c7bbc9;
  z-index: 1;
  visibility: hidden;
}

.skills {
  background-color: #83adb5;
}

.skill-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  font-weight: 300;
  line-height: 20px;
}

.libby {
  font-size: 60px;
  color: #D8D8D8;
  line-height: 40px;
  mix-blend-mode: screen;
}

.libby-two {
  font-size: 65px;
  /*color: #dfebec;*/
  color: #83adb5;
  opacity: 0.6;
  line-height: 40px;
  margin-left: -8px;
  /*mix-blend-mode: overlay;*/
}

.libby-three {
  font-size: 65px;
  color: #dfebec;
  line-height: 40px;
  text-align: center;
  margin: 0 auto; /*mix-blend-mode: overlay;*/
}

/*svg styles*/
.svg {
  fill:#569e26;
  height: 50px;
  width: 50px;
}

.animate {
  transition: 2s ease-in-out;
  -moz-transition: 2s ease-in-out;
  -webkit-transition: 2s ease-in-out;
}

.one.animate {
  transform: translate(5em, 0);
  -moz-transform: translate(5em, 0);
  -webkit-transform: translate(5em, 0);
}

.two.animate {
  transform: translate(-5em, 0);
  -moz-transform: translate(-5em, 0);
  -webkit-transform: translate(-5em, 0);
}

.descript {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 10px;
  font-size: 30px;
  color: white;
  line-height: 40px;
  width: 60%;
  opacity: 0.8;
  position: relative;
  background-color: #c7bbc9;
}

.clear-space {
  height: 80px;
}

.abs {
  position: absolute;
}

.abs-two {
  position: absolute;
  z-index: 3;
  background-color: #c7bbc9;
  overflow: hidden;
}

.post {
  position: relative;
}

span {
  opacity: 1 !important;
}

.work-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

span {
  padding-left: 10px;
}

.work {
  display: flex;
}

.gun {
  background-color: grey;
  width: 110%;
  height: 400px;
  background-image: url(images/gun.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  transform: scale(1.17);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /*position: ;*/
  z-index: 1;
  transition: all .2s ease-in-out;
  overflow: hidden;
  opacity: 0.8;
}

.drawing {
  background-color: grey;
  width: 110%;
  height: 400px;
  background-image: url(images/elephant.png);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  transform: scale(1.17);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /*position: ;*/
  z-index: 1;
  transition: all .2s ease-in-out;
  overflow: hidden;
  opacity: 0.8;
}

#content {
	position: relative;
}

.about-content {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10px;
}

.game {
  background-color: grey;
  width: 110%;
  height: 400px;
  background-image: url(images/phaser.png);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  transform: scale(1.17);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /*position: ;*/
  z-index: 1;
  transition: all .2s ease-in-out;
  overflow: hidden;
  opacity: 0.8;
}

.blog {
  background-color: grey;
  width: 110%;
  height: 400px;
  background-image: url(images/connective.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  transform: scale(1.17);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /*position: ;*/
  z-index: 1;
  transition: all .2s ease-in-out;
  overflow: hidden;
  opacity: 0.8;
}

.design {
  background-color: grey;
  width: 110%;
  height: 215px;
  background-image: url(images/design-01.png);
  /*background-size: auto;*/
  background-position: center;
  background-blend-mode: overlay;
  transform: scale(1.17);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  /*position: ;*/
  /*z-index: 1;*/
  transition: all .2s ease-in-out;
  overflow: hidden;
  opacity: 0.9;
}

.container-fluid {
  padding-right: none !important;
}

.text-clause {
  position: absolute;
  z-index: 10;
  padding: 30px;
}

.design-clause {
  position: absolute;
  z-index: 10;
  padding: 30px;
  text-align: center;
}

.project-3:hover .gun{
  transform: scale(1);
  opacity: 0.9;
  animation-play-state: paused;
  background-color: #3d3d3d;
}

.project-0:hover .blog {
  transform: scale(1);
  opacity: 0.9;
  animation-play-state: paused;
  background-color: #3d3d3d;
}

.project-1:hover .drawing{
  transform: scale(1);
  opacity: 0.9;
  animation-play-state: paused;
  background-color: #3d3d3d;
}

.project-2:hover .game {
  transform: scale(1);
  /*opacity: 0.9;*/
  animation-play-state: paused;
  background-color: #3d3d3d;
}

.project-d:hover .design {
  transform: scale(1);
  opacity: 1;
  animation-play-state: paused;
  background-color: #3d3d3d;
}


.links {
  margin-top: 25vh;
}

nav {
  background-color: rgba(0,0,0,0.0) !important;
}

/*.navbar {
  border-right: .2px solid #eee;
}*/

.sidenav {
  width: 90px;
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  text-align: center;
  line-height: 1.3;
  color: #ddd;
  font-weight: 700;
  font-size: 23px;
  font-family: 'Open Sans 700', sans-serif;
  letter-spacing: 2px;
  font-variant-caps: all-small-caps;
  /*padding: 40px;*/
  text-decoration: none;
  font-size: 20px;
  display: block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.subtitle {
	line-height: 1.3;
  color: #BF6658;
  font-weight: 700;
  font-size: 23px;
  font-family: 'Open Sans 700', sans-serif;
  letter-spacing: 2px;
  font-variant-caps: all-small-caps;
}

.subtitle-small {
	line-height: 0.8;
  color: #bfb5b2;
  font-weight: 700;
  font-size: 15px;
  font-family: 'Open Sans 700', sans-serif;
  letter-spacing: 2px;
  font-variant-caps: all-small-caps;
}

.title {
	line-height: 1.3;
  color: #bfb5b2;
  font-weight: 700;
  font-size: 23px;
  font-family: 'Open Sans 700', sans-serif;
  letter-spacing: 2px;
  font-variant-caps: all-small-caps;
}

.stuff-title {
	line-height: 1.3;
  color: white;
  opacity: 0.5;
  font-weight: 700;
  font-size: 23px;
  font-family: 'Open Sans 700', sans-serif;
  letter-spacing: 2px;
  font-variant-caps: all-small-caps;
  text-align: center;
}

div .box-link {
  text-decoration: none !important;
}

.work-text {
  color: white;
}

.bodytext {
  margin: 40px 40px 15px 0px;
	line-height: 1.3;
  font-size: 20px;
  letter-spacing: 0px;
  color: grey;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

#aboutmain {
  margin-top: -300px;
  text-align: right;
  margin-left: 410px;
  position: absolute;
  color: black;
  font-size: 48px;
}

.imgleft {
  float: left;
	margin-top: 0px;
  width: 500px;
  padding-right: 20px;
  padding-left: 30px;
}

.footer {
  margin-top: 200px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.bottom {
  color: #bbd3d6;
  text-decoration: none
}

.bottom:hover {
  text-decoration: none
}

.padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.skills {
  height: 100vh;
  padding: 50px;
}

a i {
  color: #83adb5;
}

i {
  color: #83adb5;
}

a i:hover {
  color: #c7bbc9;
}

#linkedin:hover p {
  color: #c7bbc9;
}

#twitter:hover p {
  color: #c7bbc9;
}

#email:hover p {
  color: #c7bbc9;
}

#git:hover p {
  color: #c7bbc9;
}

.nav-links {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.skill-scale {
  transform: scale(1.4);
}

.line {
  border-left: thin solid white;
  height: 26px;
  display: inline-block;
}

.sub-contact {
  font-weight: 700;
  color: #83adb5;
}

#heart-skill {
  color: white !important;
}
